// Tg Colors
$background: var(--tg-theme-bg-color);
$color: var(--tg-theme-text-color);
$hint: var(--tg-theme-hint-color);
$link: var(--tg-theme-link-color);
$button: var(--tg-theme-button-color);
$button_text: var(--tg-theme-button-text-color);
$bg_secondary: var(--tg-theme-secondary-bg-color);
